<div [formGroup]="zingoForm">
    <h2>You are playing with {{zingoForm.controls.cardName.value}}</h2>
    <div formGroupName="cardGrid">
        <div class="flex-grid">
            <div class="col"><input type="text" formControlName="1"></div>
            <div class="col"><input type="text" formControlName="2"></div>
            <div class="col"><input type="text" formControlName="3"></div>
        </div>
        <div class="flex-grid">
            <div class="col"><input type="text" formControlName="4"></div>
            <div class="col"><input type="text" formControlName="5"></div>
            <div class="col"><input type="text" formControlName="6"></div>
        </div>
        <div class="flex-grid">
            <div class="col"><input type="text" formControlName="7"></div>
            <div class="col"><input type="text" formControlName="8"></div>
            <div class="col"><input type="text" formControlName="9"></div>
        </div>
    </div>
    <input type="button" value="Show Next Card" (click)="incrementCard(1)">
</div>